

.search-container {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  gap: 10px;
  padding: 10px; /* Adjust the padding for the search bar container */
  margin-left: 400px;
  margin-top: 20px;
}

.search-container-1{
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  gap: 10px;
  padding: 10px; /* Adjust the padding for the search bar container */
  margin-left: 600px;
  margin-top: 5px;
}

.search-input {
  padding: 8px; /* Increase the input field height */
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 800px; /* Adjust the input field width as needed */
}

.search-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #f2f5f5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
